.homeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.homeMain {
    align-self: flex-start;
    width: 100vh;
    height: 60vh;
    background-color: lightgray;
}

.homeImageContainer {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.homeImage {
    margin: 0;
    align-self: flex-end;
    margin-bottom: -1.2rem;
    width: 100%;
}

.info {
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-basis: 100%;
    margin-bottom: -9.5rem;
    z-index: 2;
}

.name {
    font-weight: 900;
    font-size: 120px;
    color: #264653;
    text-decoration: underline #2A9D8F;
    letter-spacing: -6px;
}

.description {
    color: #264653;
}


.homeCard {
    height: 4rem;
    width: 8.5rem;
    display: flex;
    align-items: center;
}


.cardImage {
    padding: 0.5rem;
}

.cardText {
    color: #E76F51;
    font-weight: 900;
}

.profileImage {
    height: 10rem;
}